*{
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
    font-size:25px;
  margin :0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: maroon;
}
.row {
  width: 98%;
   margin: 0 auto;
}
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
      }
}
/* Tablet view options */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
    }
    .col-md-12{
      width:100%;
      float :left;
    }
}
/* Mobile view options */

@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
  }

  header{
    height :50px;
    width :97%;
    margin: 0 auto;
    background-color: grey;
    margin-bottom: 1px;
    position: relative;
    border: 2px solid black;
  }
  header h1{
    padding:10px 0px 0px 10px;
    color: white;
    text-shadow: 1px 1px 2px black , 0 0 25px blue , 0 0 5px darkblue;
  }
        nav,button {
    display: none;
  }
  @media (max-width: 767px) {
          nav {
            width :99%;
      display: none;
      margin-top: 1px;
      margin:0 auto;
      background-color: grey;
      border: 2px solid maroon;
    }
        nav li{
      display: block;
      text-align: center;
      margin-top: 1px;
      border: 1px solid maroon;
    }
    header button{
      display: block;
      position: absolute;
      right:15px;
      top:5px;
      opacity: 0.5;
    }
  }
#menu{
  text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
}
h2{
  position: absolute;
  right: 0;
  width:35%;
  padding :2px;
  height:40px;
  text-align: center;
  border-style: outset;
  border-width: 0 0 2px 2px;
  border-color: #ccbbcc;
  box-shadow: 5px #fff;
}
p{
  margin-top: 25px;
  text-align:left;
  padding: 3%;
}

section{
  width :98%;
  border-style: solid;
  border-width: 2px;
  border-color: #ccc000;
  position: relative;
  margin:5px auto ;
  background-color: rgba(125,125,125,1) ;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sushi{
    width:99%;
  }
  }

.chicken h2{
  background-color:rgb(213,152,152);
}
.beef h2{

  background-color:rgb(193,69,67);
}
.sushi h2{
  background-color:rgb(229,209,152);
}
nav li:hover {
  background-color: rgba(200,200,200,1);
}
nav li a {
  color : black;
}
.self{
  height: 32px;
  width :30px;
  border : 2px outset black;

}
.v{
  margin-top:6px;
  height: 15px;
  border : 6px solid  black;
  border-width: 4px 0px 4px 0px;
}
button:hover{
  opacity: 1;
}
